.main-nav h1 {
    background-color: grey;
    border-radius: 0.2rem;
    color: white;
    font-size: large;
    margin: 1rem 0;
    padding: 0.5rem;
}

.left-side {

}

.left-side-selected {
    
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.main-nav {
    margin: 0;
    grid-area: main-nav;
    padding: 0.5rem;
    
}

.icon {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 1.5rem;
}

.group-name {
    padding: 0.5rem;
    color: black;
    text-decoration: none;
}

.group-container {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */

}
@media screen and (max-width:600px) {
    .main-nav h1 {
        background-color: grey;
        border-radius: 0.5rem;
        color: white;
        font-size: xx-large;
        margin: 1.5rem 0.5rem;
    }

    .main-nav {
        margin: 0 0.5rem;
        grid-area: main-nav;
        
    }

    .group-name {
        padding: 0.5rem;
        color: black;
        text-decoration: none;
    }

    .all-groups {
    }

    .icon {
        display: flex;
        justify-content: start;
        align-items: center;
        width: 1.5rem;
    }

    .search-container {
        display: flex;
        justify-content: center;
        margin-bottom: 0.5rem;
    }

}