@media screen and (max-width: 600px) {
    .year-card {
        color: white;
        border: solid thin;
        margin: 0.5rem;
        padding: 0.5rem;
        background-color: #A71803;
    }

    

    
}

.year-card {
    color: white;
    border: solid thin;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: #A71803;
}

.year-card:hover {
    background-color: grey;
}