.group-detail-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.video-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 16rem;

    
}

.years-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.group-header {
}


@media screen and (max-width: 600px) {

    .group-header {
        background-color: grey;
        width: 100%;
        color: white;
        padding: 1rem;
    }

    .group-detail-page {
        justify-content: center;
        align-items: center;
    }

    .video-container {
        margin: 0 0.5rem;
        
    }

    .react-player {
        width: 100%;
        height: 100%;
        width: 100%;
        /* height: 19rem; */
;
    }

    .years-container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }



   
}